<%- include('../layouts/header') %>
<section class="py-5" id="features">
	<div class="container-fluid px-5 my-5">
		<div class="row gx-5">
			<div class="col-12 col-12-small">
				<p>Bad, bad Server. No donuts for you :-(</p>
				<p>Desculpe, ocorreu um erro ao processar esta página</p>
			</div>
		</div>
	</div>
</section>
<%- include('../layouts/footer') %>