<%- include('../layouts/header') %>
<section class="py-5" id="features">
	<div class="container-fluid px-5 my-5">
		<div class="row gx-5">
			<div class="col-12 col-12-small">
				<p>Ops, Página não Encontrada</p>
			</div>
		</div>
	</div>
</section>
<%- include('../layouts/footer') %>